<h1>Sign up here!</h1>

<%= bootstrap_form_for :user do |f| %>
	<%= f.text_field :email, placeholder: 'Email'%>
	<%= f.password_field :password, placeholder: 'password' %>
	<%= f.text_field :name, placeholder: 'name'%>
	<%= f.submit 'Log me in!' %>
<% end %>
